body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Times New Roman", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

body {
text-align: center;
}

a {
color: #aa63c6;
text-decoration: none;
}

h1 {
  padding: 20px 0px 10px 0px;
}
